body{
	margin:0;
	color:#f4f5fa;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
} 
 
 
 
.Login{
  width:100%;
	margin:auto;
	max-width:250px;
	min-height:450px;
  position:relative;
  padding-left: 50px;
  padding-top: 20px;
  background:url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80") no-repeat center;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
 
     
}

#submit {
  font-size: 15px;
  float: left;
  padding: 0;
  width: 100px;
  height: 50px;
  background: rgb(144, 174, 231);
  color: #140;
  border-color: rgb(17, 36, 119);
}
#submit:hover {
  color: #025;
  background: #28e;
  border-color: #16c;
}
#submit ~ a {
  display: block;
  float: left;
  width: 120px;
  text-decoration: none;
  color: #666;
}
#submit ~ a:hover {
  text-decoration: underline;
}

